/////// 乱配的
// $base-bar: #e9d8a6;
// $base-text: #94d2bd;
// $active-text: #0a9396;
//
// $base-wrap-bg: #fff3b0;
// $base-border: #e9d8a6;
//
// $base-time: #0a9396;
//
// $close-btn: #9b2226;
// $menu-btn: #005f73;
//
// $base-bg: rgba(90, 90, 90, 0.4);
// $closebox-bg: #001219;
// $closebox-btn: rgba(128, 128, 128, 0.6);
// $closebox-active: rgba(0, 0, 0, 0.2);
// $closebox-text-active: #e95494;
//
// $c-1: #ee9b00;
// $c-2: #ca6702;
// $c-3: #bb3e03;
// $c-4: #ae2012;

//////// hypr
// #000871 #8854F3 #639BFF #63FFBA #FF8C5C #FF79AE #FFF982 #FFFFFF
$base-bar: #639bff;
$base-text: #ff8c5c;
$active-text: #000871;

$wrap-bg: #fff;
$wrap-border: #000871;
$base-border: #8854f3;

$base-time: #ff79ae;

$menu-btn: #fff;
$close-btn: #fff;

$base-bg: rgba(90, 90, 90, 0.4);
$closebox-bg: #001219;
$closebox-btn: rgba(128, 128, 128, 0.6);
$closebox-active: rgba(0, 0, 0, 0.2);
$closebox-text-active: #e95494;

$calendar-bg: #ff79ae;
$calendar-select-text: #63ffba;
$calendar-text: #fff;
$calendar-edge-text: #fff982;
$calendar-btn: #000871;
$calendar-header: #000871;
$calendar-week: #8854f3;

$c-1: #8854f3;
$c-2: #ff8c5c;
$c-3: #ff79ae;
$c-4: #639bff;
$c-5: #000871;
